# Excluded File Types #
#######################
*.class
*.jar
*.iml

# Excluded Files #
##################
test.json
Test.java

# Excluded Directories #
########################
./MinecraftTextureRip
.vscode
.idea
